<style>
body{
  background-color:#EAF6F6;
}
hr{

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 10%;

}
h1{
  color: #6f9eaf;
}
h3{
  color: #6f9eaf;
}
</style>
